<div class="axie--data">
    <div class="axie--card-abilities">

        {% for partName in ['back', 'mouth', 'horn', 'tail'] %}
            {% if partName in data['$axieParts']|keys and data['$axieParts'][partName]['$cardAbility']|length %}
                <figure class="axie--card">
                    <img src="{{ data['$axieParts'][partName]['$cardAbility']['backgroundUrl'] }}" alt="{{ data['$axieParts'][partName]['$cardAbility']['name'] }}" class="img-fluid axie--card-image">
                    <figcaption class="figure-caption axie--card-energy">{{ data['$axieParts'][partName]['$cardAbility']['energy'] }}</figcaption>
                    <figcaption class="figure-caption axie--card-title">{{ data['$axieParts'][partName]['$cardAbility']['name'] }}</figcaption>
                    <figcaption class="figure-caption axie--card-value axie--card-value__atk">{{ data['$axieParts'][partName]['$cardAbility']['attack'] }}</figcaption>
                    <figcaption class="figure-caption axie--card-value axie--card-value__def">{{ data['$axieParts'][partName]['$cardAbility']['defence'] }}</figcaption>
                    <figcaption class="figure-caption axie--card-description">{{ data['$axieParts'][partName]['$cardAbility']['description'] }}</figcaption>
                </figure>
            {% endif %}
        {% endfor %}
    </div>
    <div class="axie--parts">
        <table class="table-responsive table-bordered w-100">
            <thead>
            <tr>
                <th scope="col">Part</th>
                <th scope="col">D</th>
                <th scope="col">R1</th>
                <th scope="col">R2</th>
            </tr>
            </thead>
            <tbody>
            {% for part in ['eyes', 'ears', 'back', 'mouth', 'horn', 'tail'] %}
                <tr>
                    <th scope="row">{{ part|title }}</th>
                    {% for i in ['d', 'r1', 'r2'] %}
                        <td>
                        {% if part in data['$axieGenes'][i]|keys %}
                            <span class="axie--class-icon axie--class-icon__{{ data['$axieGenes'][i][part]['class'] }}"></span><span class="text-color--axie-class__{{ data['$axieGenes'][i][part]['class'] }}">{{ data['$axieGenes'][i][part]['name'] }}</span>
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>