{% extends 'base.html.twig' %}

{% block title %}Hello WatchlistController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for watchlist in watchlists %}

                    {% set chartId = 'chart-' ~ watchlist['$entity'].getId() %}
                    {% set accordionId = 'accordion-' ~ watchlist['$entity'].getId() %}
                    {% set accordionTargetId = 'accordion-target-' ~ watchlist['$entity'].getId() %}
                    <tr>
                        <th scope="row">{{ watchlist['$entity'].getId() }}</th>
                        <td>{{ watchlist['$entity'].getName() }}</td>
                        <td><pre style="max-width: 500px;max-height: 100px;">{{ watchlist['apiCriterias']|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td>
                        <td><a href="{{ watchlist['marketplaceUrl'] }}" target="_blank">View in marketplace</a></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="accordion accordion-flush" id="{{ accordionId }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordionTargetId }}" aria-expanded="false" aria-controls="{{ accordionTargetId }}">
                                            View Data
                                        </button>
                                    </h2>
                                    <div id="{{ accordionTargetId }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#{{ accordionId }}">

                                    </div>
                                </div>
                            </div>
                            {# .accordion #}
                        </td>
                    </tr>

                    <script>
                        jQuery(document).ready(function($) {
                           var $accordion =  $('#{{ accordionId }}');
                           var chartJs = null;
                           var dataTable = null;

                           var loadDataTable = function() {
                               dataTable = $accordion.find('#axie-results-{{ watchlist['$entity'].getId() }}').DataTable({
                                   "order": [[ 8, "asc" ]]
                               });
                           };

                           var loadChart = function() {
                               const chartData = $accordion.find('#{{ chartId }}').data('chart-data');
                               const labels = chartData['labels'];
                               const data = {
                                   labels: labels,
                                   datasets: [
                                       {
                                           label: 'lowestPriceUsd',
                                           data: chartData['lowestPriceUsd'],
                                           borderColor: 'green',
                                           backgroundColor: 'transparent',
                                           borderWidth: 1,
                                           cubicInterpolationMode: 'monotone',
                                           fill: false,
                                           tension: 0.4
                                       },
                                       {
                                           label: 'averagePriceUsd',
                                           data: chartData['averagePriceUsd'],
                                           borderColor: 'blue',
                                           backgroundColor: 'transparent',
                                           borderWidth: 1,
                                           cubicInterpolationMode: 'monotone',
                                           fill: false,
                                           tension: 0.4
                                       },
                                       {
                                           label: 'secondLowestPriceUsd',
                                           data: chartData['secondLowestPriceUsd'],
                                           borderColor: 'orange',
                                           backgroundColor: 'transparent',
                                           borderWidth: 1,
                                           cubicInterpolationMode: 'monotone',
                                           fill: false,
                                           tension: 0.4
                                       }
                                   ]
                               };
                               const config = {
                                   type: 'line',
                                   data: data,
                                   options: {
                                       responsive: true,
                                       interaction: {
                                           intersect: true,
                                       },
                                       elements: {
                                           point:{
                                               radius: 0
                                           }
                                       },
                                       scales: {
                                           x: {
                                               display: true,
                                               title: {
                                                   display: true
                                               },
                                               type: 'time',
                                               time: {
                                                   displayFormats: {
                                                       'millisecond': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'second': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'minute': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'hour': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'day': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'week': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'month': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'quarter': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                       'year': 'dddd, MMMM Do YYYY, h:mm:ss a',
                                                   }
                                               }
                                           },
                                           y: {
                                               display: true,
                                               title: {
                                                   display: true,
                                                   text: 'Value'
                                               },
                                           }
                                       },
                                       plugins: {
                                           zoom: {
                                               zoom: {
                                                   wheel: {
                                                       enabled: true,
                                                   },
                                                   pinch: {
                                                       enabled: true
                                                   },
                                                   mode: 'xy',
                                               },
                                               pan: {
                                                   enabled: true,
                                                   mode: 'xy',
                                               },
                                           },
                                           tooltip: {
                                               mode: 'index',
                                               intersect: false
                                           },
                                           hover: {
                                               mode: 'index',
                                               intersect: false
                                           }
                                       }
                                   },
                               };

                               chartJs = new Chart(
                                   $('#{{ chartId }}').get(0),
                                   config
                               );
                           }

                           $accordion.on('show.bs.collapse', function () {

                                if ($accordion.hasClass('js-axie-loading')) return;

                               if (null !== dataTable) {
                                   dataTable.destroy();
                                   dataTable = null;
                               }

                               if (null !== chartJs) {
                                   chartJs.destroy();
                                   chartJs = null;
                               }
                               $accordion.find('#{{ accordionTargetId }}').html('');

                                $.get( "{{ path('api_watchlist_overview_id', {id: watchlist['$entity'].getId()}) }}", function() {
                                    $accordion.addClass('js-axie-loading');
                                })
                                    .done( function( resp ) {

                                        $accordion.find('#{{ accordionTargetId }}').html( resp );
                                        loadDataTable();
                                        loadChart();
                                        $accordion.removeClass('js-axie-loading');
                                    } )
                                ;
                            })
                        });
                    </script>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
