{% set chartId = 'chart-' ~ watchlist['$entity'].getId() %}
<div class="accordion-body">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">2nd Lowest</th>
            <th scope="col">Average</th>
            <th scope="col">Highest</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" colspan="6" class="text-center">Historical prices of 2nd Lowest (first result is unreliable)</th>
        </tr>
        {% for node in [
            '$lastCrawlEntity',
            '$lowestToday',
            '$lowestYesterday',
            '$lowest3DaysAgo',
            '$lowestTwoWeeksAgo',
            '$lowestPastMonth',
            '$lowestPast6Months'
        ] %}
            {% if node in watchlist|keys and watchlist[ node ] != null %}
                <tr>
                    <th scope="row">{{ node }}</th>
                    <td>
                        <a href="{{ path('marketplace_crawl_id', {id: watchlist[ node ].getId() }) }}">{{ watchlist[ node ].getId() }}</a>
                    </td>
                    <td>{{ watchlist[ node ].getCrawlDate()|date('F j, Y g:ia', "Asia/Manila") }}</td>
                    <td>{{ watchlist[ node ].getSecondLowestPriceUsd()|format_currency('USD') }}</td>
                    <td>{{ watchlist[ node ].getAveragePriceUsd()|format_currency('USD') }}</td>
                    <td>{{ watchlist[ node ].getHighestPriceUsd()|format_currency('USD') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th scope="col" colspan="6" class="text-center">Historical averages of all axies excluding the price of the lowest</th>
        </tr>
        {% for node in [
            '$lowestAverageToday',
            '$lowestAverageYesterday',
            '$lowestAverage3DaysAgo',
            '$lowestAverageTwoWeeksAgo',
            '$lowestAveragePastMonth',
            '$lowestAveragePast6Months',
        ] %}
            {% if node in watchlist|keys and watchlist[ node ] != null %}
                <tr>
                    <th scope="row">{{ node }}</th>
                    <td><a href="{{ path('marketplace_crawl_id', {id: watchlist[ node ].getId() }) }}">{{ watchlist[ node ].getId() }}</a></td>
                    <td>{{ watchlist[ node ].getCrawlDate()|date('F j, Y g:ia', "Asia/Manila") }}</td>
                    <td>{{ watchlist[ node ].getSecondLowestPriceUsd()|format_currency('USD') }}</td>
                    <td>{{ watchlist[ node ].getAveragePriceUsd()|format_currency('USD') }}</td>
                    <td>{{ watchlist[ node ].getHighestPriceUsd()|format_currency('USD') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if '$axieResults' in watchlist|keys %}
        <table id="axie-results-{{ watchlist['$entity'].getId() }}" class="table-responsive table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Hp</th>
                <th scope="col">Speed</th>
                <th scope="col">Morale</th>
                <th scope="col">AttackPerUsd</th>
                <th scope="col">AvgAttackPerCard</th>

                <th scope="col">AvgDefencePerCard</th>
                <th scope="col">DefencePerUsd</th>

                <th scope="col">Freak's Quality</th>
                <th scope="col">Price and Links</th>
            </tr>
            </thead>
            <tbody>
            {% for axie in watchlist['$axieResults'] %}
                {% set ae = axie.getAxieHistory().getAxie() %}
                {% set ah = axie.getAxieHistory() %}
                <tr>
                    <th scope="row">{{ ae.getId() }}</th>

                    <td>{{ ae.getHp() }}</td>
                    <td>{{ ae.getSpeed() }}</td>
                    <td>{{ ae.getMorale() }}</td>
                    <td>{{ ae.getAttackPerUsd()|number_format(5) }}</td>
                    <td>{{ ae.getAvgAttackPerCard()|number_format(5) }}</td>

                    <td>{{ ae.getAvgDefencePerCard()|number_format(5) }}</td>
                    <td>{{ ae.getDefencePerUsd()|number_format(5) }}</td>

                    <td data-order="{{ ae.getQuality() }}">{{ ae.getQuality()|number_format(2) }}%</td>
                    <td data-order="{{ ah.getPriceUsd() }}">
                        {% if ae.getImageUrl() %}
                            <img class="img-fluid" src="{{ ae.getImageUrl() }}" />
                        {% endif %}

                        <small class="text-center" style="margin-left: auto; margin-right: auto; display: block; margin-bottom: 10px;">
                            <small class="text-center" style="margin-left: auto; margin-right: auto; display: block; margin-bottom: 10px;">
                                Dominant Class Purity: {{ ae.getDominantClassPurity()|number_format(2) }}% <br />
                                R1 Class Purity: {{ ae.getR1ClassPurity()|number_format(2) }}% <br />
                                R2 Class Purity: {{ ae.getR2ClassPurity()|number_format(2) }}% <br />
                                Breed Count: {{ ah.getBreedCount() }}/7 <br />
                                getSkill: {{ ae.getSkill() }} <br />
                            </small>
                        </small>

                        <div>
                            <h5 class="truncate font-medium text-center">{{ ah.getPriceEth() }} ETH</h5>
                            <h6 class="truncate ml-8 text-gray-1 font-medium  text-center">${{ ah.getPriceUsd() }}</h6>
                            <a href="{{ ae.getUrl() }}" target="_blank">
                                <h6 class="truncate ml-8 text-gray-1 font-medium  text-center">View in Marketplace</h6>
                            </a>
                            <a href="{{ path('axie_id', {id: ae.getId() }) }}">
                                <h6 class="truncate ml-8 text-gray-1 font-medium  text-center">View Axie data</h6>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <style>
    </style>

    {% if '$chartData' in watchlist|keys %}
        {% set chartData = {
            labels: watchlist['$chartData']['crawlDate'],
            lowestPriceUsd: watchlist['$chartData']['lowestPriceUsd'],
            averagePriceUsd: watchlist['$chartData']['averagePriceUsd'],
            secondLowestPriceUsd: watchlist['$chartData']['secondLowestPriceUsd']
        } %}
        <canvas class="chart" id="{{ chartId }}" data-chart-data='{{ chartData|json_encode|replace({"\'": "&#039"})|raw }}' width="1000" height="600"></canvas>
    {% endif %}

</div> {# .accordion-body #}