{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col col-12 col-md-4">

                {% for id in [2279441, 6462565, 3788420] %}
                    <div id="axie--{{ id }}" class="axie" data-bs-toggle="tooltip" data-bs-html="true" title='{% include '_partials/axie--data.twig' %}' data-bs-sanitize="false" data-bs-trigger="manual">
                        <div class="axie--column">
                            <div class="axie--image">
                                <img src="https://storage.googleapis.com/assets.axieinfinity.com/axies/6502116/axie/axie-full-transparent.png" alt="" class="img-fluid">
                            </div>
                            <div class="axie--text">
                                <div class="axie--text-row">
                                    <span class="axie--class-icon axie--class-icon__aqua"></span>
                                    <span class="axie--id">#{{ '6502116'|number_format }}</span>
                                </div>
                                <div class="axie--text-row">
                                    <span class="axie--breed-count-icon"></span> 2, H: 51, S: 37, M: 45, P: 42%
                                </div>
                                <div class="axie--text-row">
                                    <span class="fs-5">Ξ 0.09 <small class="fs-6">$200</small></span>
                                </div>
                                <div class="axie--text-row">
                                    <div>
                                        <a href="#">View in marketplace</a>
                                    </div>
                                    <div>
                                        <a href="#">View recorded data</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="axie--column">
                            <div id="axie--data--{{ id }}">
                                {% include '_partials/axie--data.twig' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div style="display: none;">
                    {% for id in [2279441, 6462565, 3788420] %}
                        <div id="axie--data--{{ id }}s">
                            {% include '_partials/axie--data.twig' %}
                        </div>
                    {% endfor %}
                </div>


                <script>
                {% for id in [2279441, 6462565, 3788420] %}
                    tippy('#axie--{{ id }}', {
                        content(reference) {
                            const id = reference.getAttribute('data-template');
                            const template = document.getElementById(id);
                            return template.innerHTML;
                        },
                        allowHTML: true,
                    });
                {% endfor %}
                </script>

            </div>
        </div>

    </div>

{#    <script>#}
{#        (function() {#}
{#            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))#}
{#            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {#}
{#                var tooltip = new bootstrap.Tooltip(tooltipTriggerEl);#}
{#                tooltip.show();#}
{#                return tooltip;#}
{#            })#}
{#        })();#}
{#    </script>#}

{% endblock %}
