{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col col-12">

                <section class="Recently-Sold-Axies">

                    {% for data in recentlySold['$recentlySold'] %}
                        {% set axie = data['$axieEntity'] %}
{#                        {{ dump(data) }}#}
{#                        {{ dump(data['$axieEntity']) }}#}
{#                        {{ dump(data['$axieGenes']) }}#}
                        <div class="axie">
                            <div class="axie--column axie--column__axie-image-and-text">
                                <div class="axie--image">
                                    <img src="{{ axie.imageUrl }}" alt="{{ axie.id }}" class="img-fluid" id="axie--{{ axie.id }}" data-template="axie--data__{{ axie.id }}">
                                </div>
                                <div class="axie--text">
                                    <div class="axie--text-row">
                                        <span class="axie--class-icon axie--class-icon__{{ axie.class }}"></span>
                                        <span class="axie--id">#{{ axie.id|number_format }}</span>
                                    </div>
                                    <div class="axie--text-row">
                                        <span class="axie--breed-count-icon"><small>🍆</small>&nbsp;&nbsp;</span> {{ data['breed_count'] }}, H: {{ axie.hp }}, S: {{ axie.speed }}, M: {{ axie.morale }}, P: {{ axie.quality|number_format(2) }}%
                                    </div>
                                    <div class="axie--text-row">
                                        <span class="fs-5">Ξ {{ data.price_eth|number_format(4) }} <small class="fs-6">${{ data.price_usd|number_format(2) }}</small></span>
                                    </div>
                                    <div class="axie--text-row axie--text-row__wrap">
                                        <div>
                                            <a target="_blank" href="{{ axie.url }}">View in marketplace</a>
                                        </div>
                                        <div>
                                            <a href="{{ path('axie_id', {id: axie.id }) }}">View recorded data</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="axie--column axie--column__axie-data">
                                <div class="w-100" id="axie--data__{{ axie.id }}">
                                    {% include '_partials/axie--data.twig' with {data:data} only %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div style="display: none;">
                        {% for data in recentlySold['$recentlySold'] %}
                            {% set axie = data['$axieEntity'] %}
                            <div id="axie--data--{{ axie.id }}s">
                                {% include '_partials/axie--data.twig' %}
                            </div>
                        {% endfor %}
                    </div>


                    <script>
                        {% for data in recentlySold['$recentlySold'] %}
                        {% set axie = data['$axieEntity'] %}
                        (function() {
                            tippy('#axie--{{ axie.id }}', {
                                content(reference) {
                                    const id = reference.getAttribute('data-template');
                                    const template = document.getElementById(id);
                                    return '<div class="axie--data-tooltip">' + template.innerHTML + '</div>';
                                },
                                allowHTML: true,
                                trigger: 'click',
                                placement: 'auto',
                                // onHide() {
                                //     return false;
                                // }
                            });

                            var tippyInstance = document.getElementById('axie--{{ axie.id }}')._tippy;

                            // tippyInstance.show();
                        })();
                        {% endfor %}
                    </script>
                </section>

            </div>
        </div>

    </div>

{#    <script>#}
{#        (function() {#}
{#            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))#}
{#            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {#}
{#                var tooltip = new bootstrap.Tooltip(tooltipTriggerEl);#}
{#                tooltip.show();#}
{#                return tooltip;#}
{#            })#}
{#        })();#}
{#    </script>#}

{% endblock %}
